
<app-header></app-header>
<div class="container-form-recursos">
    <form [formGroup]="reservaForm" (ngSubmit)="onSubmit()" class="form-recursos">
        <h1>Reservar Recursos</h1>

        <div class="form-selector">
            <mat-form-field>
            <mat-label>Tipo de recurso</mat-label>
            <mat-select formControlName="tipoRecurso">
                <mat-option value="espacio">Laboratorios</mat-option>
                <mat-option value="implemento">Implementos</mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field>
            <mat-label>Nombre de recurso</mat-label>
            <mat-select  formControlName="nombreRecurso">
                <mat-option *ngFor="let recurso of recursos" [value]="recurso.id">{{ recurso.nombre }}</mat-option>
                <!-- <mat-option value="option1">Nombre1</mat-option>
                <mat-option value="option2">Nombre2</mat-option> -->
            </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Identificacion de usuario</mat-label>
              <input matInput type="number" formControlName="idUsuario" min="1">
            </mat-form-field>

        </div>

        <button type="submit">Reservar</button>

    </form>
</div>
<app-footer></app-footer>
