
<app-header></app-header>
<div class="container-form-recursos">
    <form action="" class="form-recursos">
        <h1>Reservar Recursos</h1>

        <div class="form-selector">
            <mat-form-field>
            <mat-label>Tipo de recurso</mat-label>
            <mat-select>
                <mat-option value="option1">Laboratorios</mat-option>
                <mat-option value="option2">Implementos</mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field>
            <mat-label>Nombre de recurso</mat-label>
            <mat-select>
                <mat-option value="option1">Nombre1</mat-option>
                <mat-option value="option2">Nombre2</mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field>
            <mat-label>Nombre de recurso</mat-label>
            <mat-select>
                <mat-option value="option1">Ubicacion1</mat-option>
                <mat-option value="option2">Ubicacion2</mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field>
            <mat-label>Hora disponibilidad</mat-label>
            <mat-select>
                <mat-option value="option1">hora1-hora2</mat-option>
                <mat-option value="option2">hora3-hora4</mat-option>
            </mat-select>
            </mat-form-field>

        </div>
       
        <button type="submit">Reservar</button>

    </form>
</div>
<app-footer></app-footer>